<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品清单</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <style>
        .table {
            margin: 100px auto;
            border-collapse: collapse;
            border-color: #aaa;
            text-align: center;
        }

        .table td,
        .table th {
            width: 100px;
            line-height: 30px;
        }

        .table thead th {
            position: relative;
            cursor: pointer;
        }

        .table thead th i {
            display: none;
            position: absolute;
            top: 8px;
            right: 4px;
        }

        .table tbody td {
            cursor: default;
            background-color: #fff;
        }
    </style>
</head>

<body>
    <div id="app">
        <table class="table" border="1">
            <thead>
                <tr>
                    <th>商品名称</th>
                    <th class="unit_price" @click="sort('unit_price')">商品单价<i class="fa fa-angle-down"></i><i
                            class="fa fa-angle-up"></th>
                    <th class="num" @click="sort('num')">商品数量<i class="fa fa-angle-down"></i><i class="fa fa-angle-up">
                    </th>
                    <th class="total_prices" @click="sort('total_prices')">商品总价<i class="fa fa-angle-down"></i><i
                            class="fa fa-angle-up">
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in dataList">
                    <td>{{ item.name }}</i></td>
                    <td>{{ item.unit_price }}</i></td>
                    <td>{{ item.num }}</i></td>
                    <td>{{ item.unit_price * item.num }}</i></td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
        Vue.createApp({
            data() {
                return {
                    dataList: [], //存储数据
                    unit_price: true,   //以单价排序，true->升序，false->降序
                    num: true,  //以数量排序
                    total_prices: true  //以总价排序
                }
            },
            methods: {
                // 升序
                orderUp(data, attr) {
                    /* 
                    参数说明
                        data：数据列表
                        attr: 排序属性(单价，数量，总价)
                    */

                    // 冒泡排序
                    for (var i = 0; i < data.length - 1; i++) {
                        for (var j = 0; j < data.length - 1 - i; j++) {
                            if (data[j][attr] > data[j + 1][attr]) {
                                var temp = data[j];
                                data[j] = data[j + 1];
                                data[j + 1] = temp;
                            }
                        }
                    }
                    this.dataList = data;
                },

                // 降序
                orderDown(data, attr) {
                    /* 
                    参数说明
                        data：数据列表
                        attr: 排序属性(单价，数量，总价)
                    */

                    // 冒泡排序
                    for (var i = 0; i < data.length - 1; i++) {
                        for (var j = 0; j < data.length - 1 - i; j++) {
                            if (data[j][attr] < data[j + 1][attr]) {
                                var temp = data[j];
                                data[j] = data[j + 1];
                                data[j + 1] = temp;
                            }
                        }
                    }
                    this.dataList = data;
                },
                
                sort(para) {
                    /* 
                    参数说明
                        para: 当前排序的属性(单价，数量，总价)
                    */
                    // 给数据的每一项添加一个total_prices属性->总价，便于以总价排序
                    if (!this.dataList[0].total_prices)
                        this.dataList.forEach(item => {
                            item["total_prices"] = item.num * item.unit_price;
                        });

                    // 如果当前属性为真，升序
                    if (this[para]) {
                        this.orderUp(this.dataList, para);
                        // 切换为false，下次点击就降序
                        this[para] = !this[para];
                    }

                    // 如果当前属性为假，降序
                    else {
                        this.orderDown(this.dataList, para);
                        // 切换为true，下次点击就升序
                        this[para] = !this[para];
                    }
                }
            },

            created() {
                // 请求数据
                $.ajax({
                    type: "GET",
                    url: "/get_data",
                    success: (res) => {
                        this.dataList = res;
                    }
                })
            },
            
            mounted() {
                var that = this;
                // 切换箭头的显示状态
                $(".table thead th").click(function () {
                    // 点击当前属性，其他属性的箭头图标全部隐藏
                    $(this).siblings().children().css("display", "none");

                    // 取消高亮显示
                    $(".table tbody td").css("background-color", "#fff");

                    if (that[$(this).attr("class")]) {
                        // 当前属性为真(降序)，向下箭头显示(本应显示)
                        /* 
                        说明：在排序完成后对当前属性的状态进行了切换，所以此时，为真时降序，为假时升序
                        */
                        $(this).children("i.fa-angle-down").css("display", "block").siblings().css("display", "none");
                    }
                    else {
                        $(this).children("i.fa-angle-up").css("display", "block").siblings().css("display", "none");
                    }
                })

                // 点击table中的数据格时要将这格所在的一行加亮，其他所有行取消加亮
                $(".table tbody").click(function (e) {
                    // 其他行取消高亮
                    $(e.target).parent().siblings().children("td").css("background-color", "#fff");

                    // 当前行高亮显示
                    $(e.target).css("background-color", "pink").siblings().css("background-color", "pink");
                })
            }
        }).mount("#app")
    </script>
</body>

</html>